body{
    background-color: black;
    color: aliceblue;
   text-align: center;
    align-items: center;
    margin: 0;
}

.tudo{
    color: black;
    background-color: rgb(221, 0, 0);
   width: 1570px;
   height: 50px;
   padding: 20px;
   line-height: 10px;
   

}

.img{
    margin: 0;
    display: flex;
}
.button{
    align-items: center;
    display: flex;
    
}
.img2{
    margin-left: 40px;
}